.grid {
  height: 100vh; /* Adjust based on your needs, e.g., full page or just part of it */
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 1px,
    /* Line color and width */ transparent 1px,
    transparent 16px /* Gutter size */
  );
  background-size: calc(100% / 12) 100%; /* Creates 12 columns */
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Makes sure clicks pass through to elements below */
}

.about {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  height: calc(100vh - 6rem);
  /* background-color: azure; */
}

.column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 4rem; */
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  text-transform: uppercase;
  border-bottom: 1px solid var(--highlight-blue);
  padding-bottom: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--highlight-blue);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.headshot {
  width: 100%;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px dashed var(--light-grey);
  padding: 0.5rem 0;
  cursor: pointer;
}

.contact img {
  width: 0.75rem;
  height: 0.75rem;
}

.contact span {
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .education {
    margin-top: 1rem;
  }
}
