.footerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  text-transform: uppercase;
}

.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--highlight-blue);
}

.footerTop span {
  font-family: "Barlow-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 3.25rem;
}

.footerTopSpan {
  -webkit-text-stroke: 1px var(--highlight-blue);
  font-size: 1.5rem;
  color: var(--background);
}

.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  /* margin: 0 2rem; */
  gap: 2rem;
}

.subfooter {
  position: relative;
  display: flex;
  flex-direction: row;
}

.subfooter a {
  text-transform: uppercase;
  width: 100%;
  font-family: "Barlow-Bold", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: max-content;
  padding: 0.25rem 1.5rem;
  border: 1px solid var(--highlight-blue);
  border-right: none;
}

.subfooter a:last-child {
  border-right: 1px solid var(--highlight-blue);
}

.subfooter span {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  cursor: pointer;
}

@media screen and (max-width: 1310px) {
  .footerTop {
    flex-direction: column;
  }
}

@media screen and (max-width: 970px) {
  .footerBottom {
    flex-direction: column;
    gap: 0;
  }

  .subfooter {
    width: 100%;
  }

  .subfooter:first-child a{
    height: 4rem;
    border-bottom: none;
  }

  .subfooter:last-child a {
    background-color: var(--highlight-blue);
  }

  .subfooter:last-child span {
    color: var(--background);
  }

  .subfooter a {
    flex: 1;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .footerContainer {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 750px) {
  .footerTop {
    padding: 1.5rem 0;
  }

  .footerTop span {
    font-size: 1.65rem;
  }

  .subfooter:first-child a{
    padding: 0 0.5rem;
  }

  .subfooter:last-child a {
    padding: 0 0.5rem;
    height: 4rem;
  }
}
