.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 1rem;
  padding: 2rem 0 8rem 0;
  background-color: var(--background);
  /* background-color: #f5f5f5; */
}

.project:not(:last-child) {
    border-bottom: 1px dashed var(--highlight-blue);
  }

.thumbnail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 2rem;
  /* background-color: aqua; */
}

.projectTitle {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    flex: 1;
}

.projectYear {
    flex: 1;
}

.projectHeading {
    flex: 2;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    color: var(--highlight-blue);
}

.projectDescription {
    flex: 2;
}

.projectDescription span {
    display: flex;
    width: 50%;
}

.projectTags {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    flex: 1;
    height: fit-content;
}

.projectTags span:not(:last-child) {
    border-right: 1px solid var(--highlight-blue);
    padding-right: 0.5rem;
}

/* Add additional CSS based on your initial snippet */
