.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* padding: 0 2rem; */
  /* gap: 4rem; */
  align-items: flex-end;
}

.sectionContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 4rem 2rem;
  border-bottom: 1px dashed var(--mid-grey);
}

.sectionContainer:last-child {
  border-bottom: none;
}

.sectionContainer:first-child {
  margin-top: 2rem;
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 80vh; */
  /* padding: 0 2rem; */
  gap: 2rem;
  align-items: flex-end;
}

/* SUBSECTIONS */

.sectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.subsection2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textFlexStart {
  height: 100%;
  justify-content: flex-start;
}

.textFlexEnd {
  height: 100%;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

.textFlexSpace {
  height: 100%;
  justify-content: space-between;
}

.textFlexCenter {
  height: 100%;
  justify-content: center;
}

.subsection2Image {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.subsection2Image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#introImage {
  flex: 1;
  justify-content: flex-start;
}

#bannerImage {
  flex: 4;
  /* height: 100%; */
  width: 100%;
}

#bannerImage img {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #d8f8fa, rgb(255, 211, 16));
}

#introImage {
  flex: 2;
  /* object-fit: contain; */
}

#productsImage {
  flex: 3;
  /* justify-content: flex-start; */
}

#visualsImage {
  flex: 3;
}

#visualsImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.textCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textCol span {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--highlight-blue);
}

.textCol img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.textColHeading {
  flex: 1;
  text-transform: uppercase;
}

.textColText {
  flex: 2;
}

/* .darkBackground {
  background-color: #090A2D;
}

.darkBackground p, .darkBackground span {
  color: var(--light-grey);
}

.darkBackground .textCol span {
  border-color: var(--light-grey);
} */

/*  */

@media screen and (max-width: 800px) {
  .sectionContainer {
    flex-direction: column;
    height: auto;
  }

  #visualsImage {
    flex: 1;
  }
}
